

.full-cart{
    margin: 10px;
    margin-bottom: 70px;
    margin-right:40px;
    margin-left:170px;
}

.cart{
    position: relative;
    
    transform: scaleY(0.98);
    
}

.box-detail{
    margin-top: 80px;
    margin-left: 70px;
}
.amount span{
    color: crimson;
    padding: 0 20px;
}
.amount button{
    width: 40px;
    height: 40px;
    border: 1px solid #777;
}
.delete{
    position: absolute;
    top:90;
    right: 500px;
    color: crimson;
    font-weight: 900;
    cursor: pointer;
}
.total{
    width: 100%;
    height: 50px;
    /* display: flex;
    align-items: center; */
    /* justify-content: space-between; */
    
    margin-left: 480px;
}
.total h3{
    color: crimson;
    margin-left: 8px;
    
    padding-bottom: 10px;

}