#Create{
    background-image:url("img/pic-1.jpg");
    background-size: cover;
    
    background-position: center;
    
    
}

.create-container{
    height: 80vh;
    background-color: rgba(238, 236, 236, 0.4);
}

.create-content h1{
    color: rgb(0, 0, 0);
    margin-right: 400px;
}
.create-content p{
    color: rgb(51, 51, 51);
    margin-right: 390px;
}

#Create .btn{
    color: white;
  background-color: pink ;
  padding: 14px 22px;
  border-radius: 9px;
}
.create-content i{
    color:rgb(245, 226, 229);
    
} 

.section{
    margin-top:700px;
}